<div class="disable-text-selection" *ngIf="userSettings$ | async as settings">
	
	<!-- Normal Bookmark -->
	<div
		class="grid grid-cols-12 gap-4 rounded p-4"
		*ngIf="!settings.is_compact_mode_on"
		[ngStyle]="{background: 'white'}"
	>
		<!-- Bookmark Information -->
		<div class="col-span-8">
			<div class="flex justify-start items-center gap-4">
				<img
					*ngIf="settings.is_favicon_shown"
					alt="{{ bookmark.bookmark_name }} favicon"
					height="12"
					src="{{ getFavicon(bookmark.bookmark_url) }}"
					width="12"
					class="favicon"
				/>
				<div class="flex flex-col gap-2">
					<span class="font-bold">{{ bookmark.bookmark_name }}</span>
					<a
						nz-tooltip
						[nzTooltipTitle]="bookmark.bookmark_url"
						*ngIf="settings.is_bookmark_url_shown && bookmark.bookmark_url"
						class="text-gray-400 line-break"
						href="{{ bookmark.bookmark_url }}"
						rel="noreferrer nofollow"
						target="_blank"
					>
						{{
						settings.is_bookmark_url_shorten
							? handleUrl(bookmark.bookmark_url, true)
							: handleUrl(bookmark.bookmark_url, false)
						}}
					</a>
				</div>
			</div>
		</div>

		<div class="col-span-3">
			<div class="flex justify-end items-center" *ngIf="category$ | async as category">
				<nz-tag [nzColor]="category.category_theme" *ngIf="!isCategorized">
					{{category.category_name}}
				</nz-tag>
				<nz-tag *ngIf="!(category$ | async)">
					Uncategorized
				</nz-tag>
			</div>
		</div>

		<!-- Bookmark Options -->
		<div class="col-span-1">
			<div class="flex justify-end items-center">
				<app-icon name="more" nz-dropdown [nzDropdownMenu]="menu"></app-icon>
				<nz-dropdown-menu #menu="nzDropdownMenu">
					<ul nz-menu>
						<li class="flex gap-2" nz-menu-item>
					<span (click)="open()" class="flex items-center gap-2">
						<app-icon name="link"></app-icon>
						<span>Open in new tab</span>
					</span>
						</li>
						<li class="flex gap-2" nz-menu-item>
							<div (click)="copy()" class="flex items-center gap-2 w-full">
								<app-icon name="content_copy"></app-icon>
								<span>Copy URL</span>
							</div>
						</li>
						<li class="flex gap-2" nz-menu-item>
							<app-form-edit-bookmark [bookmark]="bookmark" class="w-full"></app-form-edit-bookmark>
						</li>
						<li class="flex gap-2" nz-menu-item>
							<div (click)="bookmark.bookmark_deleted ? delete() : remove()" class="flex items-center gap-2 w-full">
								<app-icon name="delete"></app-icon>
								<span>{{bookmark.bookmark_deleted ? 'Delete' : 'Move to Trash'}}</span>
							</div>
						</li>
						<li *ngIf="bookmark.bookmark_deleted" class="flex gap-2" nz-menu-item>
							<div (click)="restore()" class="flex items-center gap-2 w-full">
								<app-icon name="history"></app-icon>
								<span>Restore</span>
							</div>
						</li>
					</ul>
				</nz-dropdown-menu>
			</div>
		</div>

		<!-- Divider -->
		<div class="col-span-12">
			<nz-divider class="my-2"></nz-divider>
		</div>

		<!-- Quick Action Icon -->
		<div class="col-span-12">
			<div class="flex justify-between items-center px-2">
				<div class=""></div>
				<div class="flex items-center gap-4">
					<app-icon
						*ngFor="let item of quickActionItems"
						[name]="item.icon"
						(click)="item.handleClick()">
					</app-icon>
				</div>
			</div>
		</div>		
	</div>
	
	<!-- Compact Bookmark -->
	<div *ngIf="settings.is_compact_mode_on" class="flex justify-between gap-4 rounded p-4 cursor-pointer" [ngStyle]="{background: 'white'}">
		<div class="flex justify-start items-center gap-4 w-full" (click)="open()">
			<img
				*ngIf="settings.is_favicon_shown"
				alt="{{ bookmark.bookmark_name }} favicon"
				height="12"
				src="{{ getFavicon(bookmark.bookmark_url) }}"
				width="12"
				class="favicon"
			/>
			<span>{{ bookmark.bookmark_name }}</span>
			<span
				nz-tooltip
				[nzTooltipTitle]="bookmark.bookmark_url"
				*ngIf="settings.is_bookmark_url_shown && bookmark.bookmark_url"
				class="text-gray-400 line-break"
			>
				{{
				settings.is_bookmark_url_shorten
					? handleUrl(bookmark.bookmark_url, true)
					: handleUrl(bookmark.bookmark_url, false)
				}}
			</span>
		</div>
		<div class="flex justify-end items-center">
			<app-icon name="more" nz-dropdown [nzDropdownMenu]="menu"></app-icon>
			<nz-dropdown-menu #menu="nzDropdownMenu">
				<ul nz-menu>
					<li class="flex gap-2" nz-menu-item>
					<span (click)="open()" class="flex items-center gap-2">
						<app-icon name="link"></app-icon>
						<span>Open in new tab</span>
					</span>
					</li>
					<li class="flex gap-2" nz-menu-item>
						<div (click)="copy()" class="flex items-center gap-2 w-full">
							<app-icon name="content_copy"></app-icon>
							<span>Copy URL</span>
						</div>
					</li>
					<li class="flex gap-2" nz-menu-item>
						<app-form-edit-bookmark [bookmark]="bookmark" class="w-full"></app-form-edit-bookmark>
					</li>
					<li class="flex gap-2" nz-menu-item>
						<div (click)="bookmark.bookmark_deleted ? delete() : remove()" class="flex items-center gap-2 w-full">
							<app-icon name="delete"></app-icon>
							<span>{{bookmark.bookmark_deleted ? 'Delete' : 'Move to Trash'}}</span>
						</div>
					</li>
					<li *ngIf="bookmark.bookmark_deleted" class="flex gap-2" nz-menu-item>
						<div (click)="restore()" class="flex items-center gap-2 w-full">
							<app-icon name="history"></app-icon>
							<span>Restore</span>
						</div>
					</li>
				</ul>
			</nz-dropdown-menu>
		</div>
	</div>

</div>