<div class="flex flex-col gap-4 p-4 bg-neutral-50">
	<div class="">
		<div
			*ngFor="let item of groupOne"
			class="flex justify-between items-center cursor-pointer p-4 bg-white rounded rounded hover:bg-neutral-100"
			[routerLink]="[item.routerLink]"
		>
			<div class="flex items-center gap-4">
				<app-icon class="icon" [name]="item.icon"></app-icon>
				<span>{{item.title}}</span>
			</div>
			<app-icon class="icon" name="navigate_next"></app-icon>
		</div>
	</div>

	<div class="">
		<div
			*ngFor="let item of groupTwo"
			class="flex justify-between items-center cursor-pointer p-4 bg-white rounded rounded hover:bg-neutral-100"
			[routerLink]="[item.routerLink]"
		>
			<div class="flex items-center gap-4">
				<app-icon class="icon" [name]="item.icon"></app-icon>
				<span>{{item.title}}</span>
			</div>
			<app-icon class="icon" name="navigate_next"></app-icon>
		</div>
	</div>
	
</div>