<div class="flex flex-col gap-4 lg:h-screen lg:p-6 overflow-y-scroll p-4" [ngStyle]="{ background: theme.color.primary.light }">

	<div class="flex justify-end items-center">
		<app-form-add-bookmark></app-form-add-bookmark>
	</div>

	<div *ngIf="!(isEmpty$ | async)" (cdkDropListDropped)="dropBookmark($event)" cdkDropList class="flex flex-col gap-2">
		<div *ngFor="let bookmark of filteredBookmarks$ | async" cdkDrag [cdkDragStartDelay]="500">
			<app-bookmark [bookmark]="bookmark"></app-bookmark>
		</div>
	</div>

	<div *ngIf="isEmpty$ | async" class="flex flex-col justify-center items-center w-full h-3/4">
		<div class="font-bold text-2xl opacity-50">
			Empty
		</div>
	</div>
</div>

