<div
	[ngStyle]="{ 
		background: theme.color.accent.dark,
		color: theme.color.primary.light
	}"
	class="flex justify-end p-4"
>
	<app-form-add-category></app-form-add-category>
</div>

<div class="p-4">
	<app-category
		[isAll]="true"
		[bookmarks$]="bookmarks$"
	>
	</app-category>
	<app-category
		[isUncategorized]="true"
		[bookmarks$]="bookmarks$"
	>
	</app-category>
	<app-category
		[isTrash]="true"
		[bookmarks$]="bookmarks$"
	>
	</app-category>
</div>

<nz-divider></nz-divider>

<div
	(cdkDropListDropped)="dropCategory($event)"
	cdkDropList
	cdkDropListOrientation="vertical"
	class="p-4"
>
	<div cdkDrag [cdkDragStartDelay]="500" *ngFor="let category of categories$ | async">
		<app-category
			[category]="category"
			[bookmarks$]="bookmarks$"
			[isCategorized]="true"
		>
		</app-category>
	</div>
</div>