<div *ngIf="user$ | async as user" class="flex flex-col gap-10 bg-neutral-50 p-4">
	
	<!-- Action Item -->
	<div class="bg-white rounded p-4" (click)="toggleModal(true)">
		<div class="flex justify-between items-center gap-2 cursor-pointer">
			<div class="font-semibold">Delete Account</div>
			<app-icon name="navigate_next"></app-icon>
		</div>
		<nz-modal
			[nzCentered]="true"
			[nzVisible]="isVisible"
			nzTitle="Delete Your Tuebi Account"
			nzContent="Are you sure to delete all your data from tuebi.io?"
			nzOkText="Sure"
			(nzOnOk)="delete()"
			(nzOnCancel)="toggleModal(false)"
			[nzOkLoading]="isLoading"
		>
		</nz-modal>
	</div>

	<!-- Action Item -->
	<div class="flex flex-col gap-2">
		<div class="text-xs text-gray-600 uppercase px-2">
			Automatically delete my account
		</div>
		<div class="bg-white rounded cursor-pointer p-4" (click)="toggleScheduleDeletionModal(true)">
			<div class="flex justify-between items-center gap-2">
				<div class="font-semibold">If Away For</div>
				<div class="flex gap-2">
					<div class="text-gray-400">
						{{
						user.user_settings.user_month_to_delete === 12 
						? '1 year' 
						: user.user_settings.user_month_to_delete + ' months'
						}}
					</div>
					<app-icon name="navigate_next"></app-icon>
				</div>
			</div>
			<nz-modal
				[nzCentered]="true"
				[nzVisible]="isScheduleDeletionVisible"
				(nzOnOk)="updateScheduleDeletionTime()"
				(nzOnCancel)="toggleScheduleDeletionModal(false)"
				(nzOnOk)="updateScheduleDeletionTime()"
				nzAutofocus="ok"
				[nzClosable]="false"
			>
				<div *nzModalContent>
					<nz-select [(ngModel)]="scheduleTimeToDelete" class="w-full">
						<nz-option [nzValue]="3" nzLabel="3 months"></nz-option>
						<nz-option [nzValue]="6" nzLabel="6 months"></nz-option>
						<nz-option [nzValue]="9" nzLabel="9 months"></nz-option>
						<nz-option [nzValue]="12" nzLabel="1 year"></nz-option>
					</nz-select>
				</div>
			</nz-modal>
		</div>
		<div class="text-gray-600 px-2">
			If you do not come online at least once within this period, 
			your account will be deleted with all categories and bookmarks.
		</div>
	</div>
	
</div>