<div class="grid grid-cols-12 w-screen h-screen overflow-y-scroll">

	<div class="col-span-1">
		<div class="h-screen flex flex-col justify-center items-center" [ngStyle]="{background: 'white'}">
			
			<div
				class="flex justify-center items-center cursor-pointer opacity-80 hover:opacity-100 transition-all duration-300 w-10 h-10 rounded"
				[routerLink]="['/']"
				[routerLinkActive]="'bg-neutral-100'"
			>
				<app-icon name="home"></app-icon>
			</div>
			
			<nz-divider></nz-divider>
			
			<div
				class="flex justify-center items-center cursor-pointer opacity-80 hover:opacity-100 transition-all duration-300 w-10 h-10 rounded"
				[routerLink]="ROUTE.CATEGORIES"
				[routerLinkActive]="'bg-neutral-100'"
			>
				<app-icon name="bookmark"></app-icon>
			</div>

			<div
				class="flex justify-center items-center cursor-pointer opacity-80 hover:opacity-100 transition-all duration-300 w-10 h-10 rounded"
				[routerLink]="ROUTE.SETTINGS"
				[routerLinkActive]="'bg-neutral-100'"
			>
				<app-icon name="settings"></app-icon>
			</div>

			<div
				class="flex justify-center items-center cursor-pointer opacity-80 hover:opacity-100 transition-all duration-300 w-10 h-10 rounded"
				[routerLink]="ROUTE.SEARCH"
				[routerLinkActive]="'bg-neutral-100'"
			>
				<app-icon name="search"></app-icon>
			</div>
			
			<nz-divider></nz-divider>

			<div
				class="flex justify-center items-center cursor-pointer opacity-80 hover:opacity-100 transition-all duration-300 w-10 h-10 rounded"
				(click)="logout()"
			>
				<app-icon name="logout"></app-icon>
			</div>

		</div>
	</div>

	<div class="col-span-11">
		<router-outlet></router-outlet>
	</div>

</div>