<div 
	*ngIf="userSettings$ | async as settings"
	class="w-full border-0 p-2 bg-neutral-100 rounded hover:bg-neutral-200 duration-300 cursor-pointer opacity-70"
	[routerLinkActive]="['bg-neutral-200', 'opacity-100']"
>
	<div class="flex justify-between items-center gap-2 w-full">
		<div class="flex items-center gap-2 w-full" [routerLink]="isAll ? 'all' : isUncategorized ? 'uncategorized' : isTrash ? 'trash' : category.id">
			<app-icon *ngIf="isCategorized" name="folder"></app-icon>
			<app-icon *ngIf="isAll" name="collections_bookmark"></app-icon>
			<app-icon *ngIf="isUncategorized" name="folder_off"></app-icon>
			<app-icon *ngIf="isTrash" name="delete"></app-icon>
			<div>{{name}}</div>
		</div>
		<div class="flex items-center justify-end gap-2">
			<span *ngIf="settings.is_bookmark_count_shown" class="text-xs text-neutral-500">
				{{count$ | async}}
			</span>
			<app-icon
				*ngIf="!FIXED_CATEGORIES.ids.includes(name)"
				[nzDropdownMenu]="menu"
				nz-dropdown
				nz-icon
				name="more">
			</app-icon>
		</div>
	</div>

	<!-- Dropdown Menu -->
	<nz-dropdown-menu #menu="nzDropdownMenu">
		<ul nz-menu>
			<li nz-menu-item>
				<div (click)="openAllInNewTab()" class="flex items-center gap-2">
					<app-icon name="link"></app-icon>
					<span>Open all in new tab</span>
				</div>
			</li>
			
			<li nz-menu-item>
				<div (click)="deleteOneCategory(category.id)" class="flex items-center gap-2">
					<app-icon name="delete"></app-icon>
					<span>Delete</span>
				</div>
			</li>

			<li nz-menu-item>
				<app-form-edit-category [category]="category"></app-form-edit-category>
			</li>
		</ul>
	</nz-dropdown-menu>
</div>

