<div [ngStyle]="{'background': theme.color.secondary.main}" class="flex flex-col gap-6 p-6">
	<!-- Title and Description -->
	<div class="grid grid-cols-2 items-center gap-2">
		<div class="col-span-2 md:col-span-1 p-6">
			<img src="assets/svg/contact.svg" width="320px" height="320px" alt="Contact Page"/>
		</div>
		<div class="col-span-2 md:col-span-1 p-6">
			<h1 class="text-2xl lg:text-4xl font-bold mb-6">
				Send us a message
			</h1>
			<p class="lg:text-xl mb-4">
				Tuebi.io is made with love. We hope that you can have a simple effective tool to bookmark your daily work,
				improving your workflow better. We're excited to hear from you. If you have any idea so that the app fit you
				more, or you would like to report a bug, please don't hesitate to let us know.
			</p>
			<p class="lg:text-xl">Email Address: <a href="mailto:cuongnc.fe@gmail.com">cuongnc.fe@gmail.com</a></p>
		</div>
	</div>
</div>