<div class="grid grid-cols-12 w-full w-full">
	<div class="col-span-3 w-full h-full bg-white">
		<div class="flex flex-col gap-1 p-4 h-screen overflow-auto">

			<div
				*ngFor="let item of items"
				class="flex items-center gap-4 cursor-pointer p-2 bg-neutral-100 rounded opacity-70 hover:opacity-100 transition-all"
				[routerLink]="[item.routerLink]"
				[routerLinkActive]="'bg-neutral-200'"
			>
				<app-icon [name]="item.icon"></app-icon>
				<div>{{item.title}}</div>
			</div>

		</div>
	</div>
	<div class="col-span-9 w-full h-full" [ngStyle]="{background: theme.color.primary.light}">
		<router-outlet></router-outlet>
	</div>
</div>